<h1 class="mt-3 font-weight-light">Youtube Videos</h1>

<hr />

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let video of videos">
    <div class="card">
      <img [src]="video.thumbnails.high.url" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{video.title}}</h5>
        <p class="card-text">

            <strong>Descripción: </strong>{{video.description}}
            <strong>Publicado: </strong>{{video.publishedAt | date}}
        </p>

        <button class="btn btn-outline-primary btn-block"
                (click)="mostrarVideo(video)">Ver video</button>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5 text-center mb-5">
    <div class="col">
        <button class="btn btn-primary btn-lg" (click)="cargarVideo()"> Siguiente página</button>
    </div>
</div>
